<ion-content class="ion-padding content">
  <div class="welcome-container" style="text-align: center; color: white;">
    <img src="assets/logo.png" alt="Tele Cursos" style="width: 100px;" />
    <h1 style="font-size: 30px; font-weight: bold; color: #bb52f6;">Tele Cursos</h1>
    <h2 style="margin-top: 10px;">Aprenda. Evolua. Conquiste. 🚀</h2>
    <p style="margin-top: 5px; font-size: 15px; padding: 0 10px;">
      Acesso ilimitado a todos os cursos com <strong>1 único pagamento</strong>.<br />
      Ganhe <strong>certificado de conclusão</strong> e destaque-se no mercado!
    </p>

    <ion-button (click)="register()" expand="block" shape="round" class="pulse-button">
      Cadastrar grátis
    </ion-button>

    <ion-button (click)="close()" shape="round" fill="clear" color="medium" style="margin-top: 10px;">
      Já tenho conta
    </ion-button>
  </div>
</ion-content>