<ion-content class="glass ion-text-center ion-padding">
  <ion-button color="dark" (click)="close()" class="close-button" fill="clear" size="small">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark">Como acessar os cursos?</ion-text>

  <ion-text color="dark" class="ion-padding">
    <p>1. Instale o uTorrent em seu dispositivo.</p>
    <p>2. Clique no botão abaixo para ser redirecionado para a loja ou site oficial.</p>
    <ion-button size="small" color="dark" expand="block" (click)="abrirLink()">Baixar uTorrent</ion-button>
    <p>3. Após instalar, clique em Acessar Curso e siga os passos no App uTorrent.</p>
    <p>4. Você poderá solicitar seu certificado 7 dias após acessar o curso.</p>
    <p>Obs.: O curso irá baixar em seu dispositivo e você poderá <b>assistir offline</b>.</p>
  </ion-text>
</ion-content>