


ion-avatar img {
  border-radius: 50%;
  border: 2px solid #7d0ee4;
}

ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

ion-card-title {
  font-size: 1.2rem;
}

ion-item {
  --background: transparent;
}

ion-label h3 {
  margin: 0;
  font-size: 1rem;
}

ion-label p {
  margin: 0;
  font-size: 0.85rem;
}