<ion-content class="ion-padding" style="--background: #0f0f1c; color: white;">
  <ion-button color="dark" fill="clear" class="close-button" (click)="close()" style="float: right;">
    <ion-icon name="close"></ion-icon>
  </ion-button>

  <div style="text-align: center; margin-top: 2rem;">
    <img src="assets/logo.png"
         alt="Logo"
         style="width: 70px; height: auto">
    <h2 style="margin-top: 1rem; font-weight: bold; color: #c084fc;">Detalhes do Curso</h2>
  </div>

  <div style="margin-top: 2rem;">
    <ion-card color="transparent" style="--ion-card-background: #1c1c2e;">
      <img *ngIf="details?.image"
           [src]="details.image"
           alt="Course Image"
           style="width: 100%; height: auto; border-radius: 8px;">
      <ion-card-header>
        <ion-card-title style="color: white;">{{ details?.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: #ccc;">
        <p>{{ details?.text }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="details?.links?.length" style="margin-top: 1.5rem; text-align: center;">
    <ion-button *ngFor="let item of details.links" class="botao"
                (click)="openLink(item)"
                expand="block"
                style="margin-top: 0.5rem;">
                <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
      {{ item.text }}
    </ion-button>
    <ion-button
                [disabled]="verifyDownloadDate(details?.download_infos?.downloaded_at)"
                *ngIf="details?.download_infos"
                (click)="solicitarCertificado(details)"
                expand="block"
                fill="clear"
                style="margin-top: 0.5rem;"
                class="botao-certificado"
                >
                
      {{solicitarCertificadoText}}
    </ion-button>
    <ion-button
                [disabled]="true"
                *ngIf="!details.download_infos"
                fill="clear"
                expand="block"
                size="small"
                style="margin-top: 0.5rem;"
                class="botao-certificado"
                >
                
      Faça o curso para emitir o certificado
    </ion-button>
    <ion-button
                *ngIf="details?.links?.length"
                fill="clear"
                expand="block"
                size="small"
                color="dark"
                class="botao-tutorial"
                (click)="presentPopover()"
                >
                
      como acessar o curso?
    </ion-button>

    <!-- <p *ngIf="isPremium" class="aviso">* Este curso não é válido para horas complementares de ensino</p> -->
  </div>
</ion-content>