


ion-card {
  border-radius: 10px;
  background-color: #1c1c2e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: white;
}

ion-card-title {
  font-size: 1.2rem;
}

ion-card-content p {
  margin: 0.5rem 0;
  color: #ccc;
}

ion-button {
  margin-top: 1rem;
}

h2, h3 {
  color: white;
}

.botao {
  cursor: pointer;
  animation: pulse 1.4s infinite;
  transition: transform 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}